**Exploring Data**

In [4]:

import pandas as pd
import numpy as np

In [5]:
root_X = r"C:\Users\Haison\Documents\movie_classifier\data\processed\X.csv"
root_Y = r"C:\Users\Haison\Documents\movie_classifier\data\processed\Y.csv"
X = pd.read_csv(root_X)
Y = pd.read_csv(root_Y)

In [6]:
#Shape of dataset in X
X.shape

(3428, 3705)

In [7]:
#Shape of dataset in Y
Y.shape

(3428, 1)

In [21]:
X.describe().T

       count      mean       std  min  25%  50%  75%  max
0     3428.0  0.384189  1.141445  0.0  0.0  0.0  0.0  5.0
1     3428.0  0.468786  1.348697  0.0  0.0  0.0  0.0  5.0
2     3428.0  1.134772  1.817123  0.0  0.0  0.0  3.0  5.0
3     3428.0  1.307468  1.883531  0.0  0.0  0.0  3.0  5.0
4     3428.0  1.853267  2.199636  0.0  0.0  0.0  4.0  5.0
...      ...       ...       ...  ...  ...  ...  ...  ...
3700  3428.0  0.001459  0.085398  0.0  0.0  0.0  0.0  5.0
3701  3428.0  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0
3702  3428.0  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0
3703  3428.0  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0
3704  3428.0  0.001167  0.068319  0.0  0.0  0.0  0.0  4.0

[3705 rows x 8 columns]

In [8]:
Y.describe().T

        count      mean       std  min  25%  50%  75%  max
label  3428.0  0.832264  0.373686  0.0  1.0  1.0  1.0  1.0

In [12]:
X.isnull().sum()

0       0
1       0
2       0
3       0
4       0
       ..
3700    0
3701    0
3702    0
3703    0
3704    0
Length: 3705, dtype: int64

In [13]:
Y.isnull().sum()

label    0
dtype: int64